<h1 mat-dialog-title>Enter a grade</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <input matInput type="number" [(ngModel)]="grade" />
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</div>