/* Ensure the mat-form-field spans the full width */
.full-width-field {
    width: 100%;
    min-width: 250px; /* Ensures enough space for the label */
  }
  
  /* Add padding to the dialog content for spacing */
  mat-dialog-content {
    padding-bottom: 16px;
  }
  
  /* Style the dialog actions for alignment and spacing */
  .dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px; /* Space between buttons */
  }