<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>view_list</mat-icon>
      <span class="header-title"> Students list</span>
    </mat-toolbar>
  </div>

<div class="student-list-container">
    <mat-card>
        <div class="button-container" *ngIf="isAdministrator()">
            <button routerLink="/student/create" mat-raised-button color="primary">Add New Student</button>
        </div>
      <mat-card-title>Students List</mat-card-title>
      <mat-divider></mat-divider>
      
      <mat-table [dataSource]="students" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="id-column"> ID </mat-header-cell>
          <mat-cell *matCellDef="let student" class="id-column"> {{ student.id }} </mat-cell>
        </ng-container>
  
        <!-- Username(email) Column -->
        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Username/email </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{ student.username }} </mat-cell>
        </ng-container>

        <!-- Index number Column -->
        <ng-container matColumnDef="indexNumber">
            <mat-header-cell *matHeaderCellDef> Index number </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{ student.indexNumber }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let student"> {{ student.name }} </mat-cell>
        </ng-container>

        <!-- Lastname Column -->
        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef> Lastame </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{ student.lastname }} </mat-cell>
        </ng-container>

        <!-- Balance Column -->
        <ng-container matColumnDef="balance" *ngIf="isAdministrator()">
          <mat-header-cell *matHeaderCellDef> Balance </mat-header-cell>
          <mat-cell *matCellDef="let student"> {{ student.accountBalance }} </mat-cell>
        </ng-container>

        <!-- Archived Column -->
        <ng-container matColumnDef="archived">
            <mat-header-cell *matHeaderCellDef> Archived </mat-header-cell>
            <mat-cell *matCellDef="let student"> {{ student.archived }} </mat-cell>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let student">
            <button mat-icon-button color="primary" (click)="editStudent(student.id)" *ngIf="isAdministrator()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteStudent(student.id)" *ngIf="isAdministrator()">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" disabled (click)="editStudent(student.id)" *ngIf="!isAdministrator()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" disabled (click)="deleteStudent(student.id)" *ngIf="!isAdministrator()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <!-- Header Row -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- Data Rows -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>