
<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>add</mat-icon>
      <span class="header-title">Create exam</span>
    </mat-toolbar>
  </div>

<form [formGroup]="examForm" (ngSubmit)="onSubmit()" class="exam-form">
    <!-- Name -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Exam Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="examName"
        placeholder="Enter exam name"
      />
    </mat-form-field>
  
    <!-- Subject Dropdown -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Subject</mat-label>
        <mat-select formControlName="subject">
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">
            {{ subject.name }}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Teacher Dropdown -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Teacher</mat-label>
        <mat-select formControlName="teacher">
        <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
            {{ teacher.name + " " + teacher.lastname }}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Date Picker -->
    <mat-form-field appearance="fill" class="full-width">
    <mat-label>Exam Date</mat-label>
    <input
        matInput
        [matDatepicker]="picker"
        formControlName="examDate"
        placeholder="Select exam date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Submit Button -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>