<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>view_list</mat-icon>
      <span class="header-title"> Exam list</span>
    </mat-toolbar>
  </div>

<div class="exam-list-container">
    <mat-card>
        <div class="button-container">
            <button routerLink="/exam/create" mat-raised-button color="primary">Add New Exam</button>
        </div>
      <mat-card-title>Exam List</mat-card-title>
      <mat-divider></mat-divider>
      
      <mat-table [dataSource]="exams" class="mat-elevation-z8">
        <!-- ID Column -->
        <!-- <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="id-column"> ID </mat-header-cell>
          <mat-cell *matCellDef="let exam" class="id-column"> {{ exam.id }} </mat-cell>
        </ng-container> -->
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let exam"> {{ exam.name }} </mat-cell>
        </ng-container>

        <!-- Teacher Column -->
        <ng-container matColumnDef="teacherName">
            <mat-header-cell *matHeaderCellDef> Teacher </mat-header-cell>
            <mat-cell *matCellDef="let exam"> {{ exam.teacherName }} </mat-cell>
        </ng-container>

        <!-- Subject Column -->
        <ng-container matColumnDef="subjectName">
            <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
            <mat-cell *matCellDef="let exam"> {{ exam.subjectName }} </mat-cell>
        </ng-container>

        <!-- Date Time Column -->
        <ng-container matColumnDef="dateTime">
            <mat-header-cell *matHeaderCellDef> Date-Time </mat-header-cell>
            <mat-cell *matCellDef="let exam"> {{ exam.dateTime }} </mat-cell>
          </ng-container>

        <!-- Archived Column -->
        <ng-container matColumnDef="archived">
            <mat-header-cell *matHeaderCellDef> Archived </mat-header-cell>
            <mat-cell *matCellDef="let exam"> {{ exam.archived }} </mat-cell>
          </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let exam">
            <button mat-icon-button color="warn" (click)="deleteExam(exam.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="downloadPDF(exam.id)">
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <!-- Header Row -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- Data Rows -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>