<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>person_add</mat-icon>
      <span class="header-title">Create administrator</span>
    </mat-toolbar>
  </div>

  <form [formGroup]="administratorForm" class="administrator-form" (ngSubmit)="onSubmit()">
    <!-- First Name -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstname"
          placeholder="Enter first name"
        />
      </mat-form-field>
    
      <!-- Last Name -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastname"
          placeholder="Enter last name"
        />
      </mat-form-field>
    
      <!-- Email -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="username"
          placeholder="Enter email"
        />
      </mat-form-field>
  
      <!-- Password -->
      <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Enter password"
          />
    </mat-form-field>
  
    <!-- Submit Button -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>