.document-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    gap: 20px; /* Adds space between each field */
    margin-top: 40px; /* Adds space between header and form */
  }
  
  .full-width {
    width: 30%; /* Set a custom width, adjust as needed (e.g., 50%, 300px) */
  }
  
  .button-container {
    width: 50%; /* Match the button width with the input fields */
    display: flex;
    justify-content: center; /* Center the button */
  }

  mat-icon {
    margin-right: 10px; /* Adjust the value to control the spacing */
  }

  /* File upload styling */
.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.file-input {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}