<div class="header">
  <mat-toolbar color="primary">
    <mat-icon>add</mat-icon>
    <span class="header-title">Upload document</span>
  </mat-toolbar>
</div>

<form [formGroup]="documentForm" class="document-form" (ngSubmit)="onSubmit()">
  <!-- Document Name -->
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Document Name</mat-label>
    <input
      matInput
      type="text"
      formControlName="documentName"
      placeholder="Enter document name"
    />
  </mat-form-field>

  <!-- File Upload -->
  <div class="file-upload-container">
    <input type="file" (change)="onFileSelected($event)" />
  </div>

  <!-- Submit Button -->
  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
