<header class="app-header">

  <div class="burger-button-container">
    <button *ngIf="isAuthenticated" (click)="onClickBurgerButton()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="logo-container">
    <img src={{logoSrc}} class="app-logo" alt="logo"/>
  </div>

  <div class="right-side-container">
    <!-- User Info Widget -->
    <div class="user-info-container" *ngIf="isAuthenticated">
      <span class="username">Username: {{ username}} </span>
      <span class="name">Name: {{ firstName }} {{ lastName }}</span>
      <span class="role">Role: {{ role }}</span>
      <span class="teacherRole" *ngIf="role==='TEACHER'">{{"(" + teacherRole + ")"}}</span>
    </div>

  <div class="logout-button-container">
    <button mat-raised-button color="warn" *ngIf="isAuthenticated" (click)="logout()" class="logout-button"> Logout </button>
  </div>
</div>
</header>