
.app-header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: #222;
  color: white;
  height: 90px;
}

.app-logo {
  margin-top: 0;
  height: 70px;
  
}

.app-header button {
  margin-left: 25px;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px; /* Space between the burger button and user info */
  color: white;
  font-size: 0.9em;
}

.right-side-container {
  display: flex;            /* Use flexbox for horizontal layout */
  align-items: center;       /* Vertically center items */
}

.app-header mat-icon {
  font-size: 1.3em;  /* Increase the icon size relative to its container */
}

.logout-button {
  margin-right: 50px; /* 50px margin on the right */
}