<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>edit</mat-icon>
      <span class="header-title"> Edit Subject</span>
    </mat-toolbar>
</div>

<div class="edit-subject-container">
    <mat-card>
      <mat-card-title>Edit Subject</mat-card-title>
      <mat-divider></mat-divider>
  
      <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">

        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Enter new name">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>ECTS</mat-label>
              <input matInput formControlName="ects" placeholder="Enter new ects number">
            </mat-form-field>
        </div>
  
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="subjectForm.invalid">Save</button>
          <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>