<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>view_list</mat-icon>
      <span class="header-title"> Teachers list</span>
    </mat-toolbar>
  </div>

<div class="teacher-list-container">
    <mat-card>
        <div class="button-container" *ngIf="isAdministrator()">
            <button routerLink="/teacher/create" mat-raised-button color="primary">Add New Teacher</button>
        </div>
      <mat-card-title>Teachers List</mat-card-title>
      <mat-divider></mat-divider>
      
      <mat-table [dataSource]="teachers" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="id-column"> ID </mat-header-cell>
          <mat-cell *matCellDef="let teacher" class="id-column"> {{ teacher.id }} </mat-cell>
        </ng-container>
  
        <!-- Username(email) Column -->
        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Username/email </mat-header-cell>
            <mat-cell *matCellDef="let teacher"> {{ teacher.username }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let teacher"> {{ teacher.name }} </mat-cell>
        </ng-container>

        <!-- Lastname Column -->
        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef> Lastame </mat-header-cell>
            <mat-cell *matCellDef="let teacher"> {{ teacher.lastname }} </mat-cell>
        </ng-container>

        <!-- Archived Column -->
        <ng-container matColumnDef="archived">
            <mat-header-cell *matHeaderCellDef> Archived </mat-header-cell>
            <mat-cell *matCellDef="let teacher"> {{ teacher.archived }} </mat-cell>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let teacher">
            <button mat-icon-button color="primary" (click)="editTeacher(teacher.id)" *ngIf="isAdministrator()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTeacher(teacher.id)" *ngIf="isAdministrator()">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary" disabled (click)="editTeacher(teacher.id)" *ngIf="!isAdministrator()">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" disabled (click)="deleteTeacher(teacher.id)" *ngIf="!isAdministrator()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <!-- Header Row -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- Data Rows -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>