<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>edit</mat-icon>
      <span class="header-title"> Edit Exam</span>
    </mat-toolbar>
</div>

<div class="edit-exam-container">
    <mat-card>
      <mat-card-title>Edit Exam</mat-card-title>
      <mat-divider></mat-divider>
  
      <form [formGroup]="examForm" (ngSubmit)="onSubmit()">

      <!-- Teacher Dropdown -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Teachera</mat-label>
        <mat-select formControlName="teacher">
        <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
            {{ teacher.name }}
        </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Date Picker -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Exam Date</mat-label>
        <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateTime"
            placeholder="Select exam date"
        />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
  
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="examForm.invalid">Save</button>
          <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>