<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>view_list</mat-icon>
      <span class="header-title"> My Exam Applications</span>
    </mat-toolbar>
  </div>

<div class="application-list-container">
    <mat-card>
        <!-- <div class="button-container">
            <button routerLink="/exam/create" mat-raised-button color="primary">Add New Exam</button>
        </div> -->
      <mat-card-title>My Exam Applications</mat-card-title>
      <mat-divider></mat-divider>
      
      <mat-table [dataSource]="applications" class="mat-elevation-z8">
        <!-- ID Column -->
        <!-- <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="id-column"> ID </mat-header-cell>
          <mat-cell *matCellDef="let application" class="id-column"> {{ application.id }} </mat-cell>
        </ng-container> -->
  
        <!-- applicationDate Column -->
        <ng-container matColumnDef="applicationDate">
          <mat-header-cell *matHeaderCellDef> Application Date </mat-header-cell>
          <mat-cell *matCellDef="let application"> {{ application.applicationDate }} </mat-cell>
        </ng-container>

        <!-- student Column -->
        <ng-container matColumnDef="student">
            <mat-header-cell *matHeaderCellDef> Student </mat-header-cell>
            <mat-cell *matCellDef="let application"> {{ application.student }} </mat-cell>
        </ng-container>

        <!-- exam Column -->
        <ng-container matColumnDef="exam">
            <mat-header-cell *matHeaderCellDef> Exam </mat-header-cell>
            <mat-cell *matCellDef="let application"> {{ application.exam }} </mat-cell>
        </ng-container>

        <!-- archived Column -->
        <ng-container matColumnDef="archived">
            <mat-header-cell *matHeaderCellDef> Archived </mat-header-cell>
            <mat-cell *matCellDef="let application"> {{ application.archived }} </mat-cell>
          </ng-container>

        <!-- passed Column -->
        <ng-container matColumnDef="passed">
            <mat-header-cell *matHeaderCellDef> Passed </mat-header-cell>
            <mat-cell *matCellDef="let application"> {{ application.passed }} </mat-cell>
          </ng-container>

        <!-- grade Column -->
        <ng-container matColumnDef="grade">
          <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
          <mat-cell *matCellDef="let application"> {{ application.grade }} </mat-cell>
        </ng-container>
  
        <!-- Actions Column -->
        <!-- <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let application">
            <button mat-icon-button color="primary" (click)="editExam(exam.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteApplication(application.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container> -->
  
        <!-- Header Row -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- Data Rows -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>