<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>view_list</mat-icon>
      <span class="header-title"> Payment list</span>
    </mat-toolbar>
  </div>

<div class="payment-list-container">
    <mat-card>
        <div class="button-container">
            <button routerLink="/payment/create" mat-raised-button color="primary">Add New Payment</button>
        </div>
      <mat-card-title>Payment List</mat-card-title>
      <mat-divider></mat-divider>
      
      <mat-table [dataSource]="payments" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="id-column"> ID </mat-header-cell>
          <mat-cell *matCellDef="let payment" class="id-column"> {{ payment.id }} </mat-cell>
        </ng-container>
  
        <!-- Bank account Column -->
        <ng-container matColumnDef="bankAccount">
          <mat-header-cell *matHeaderCellDef> Bank Account </mat-header-cell>
          <mat-cell *matCellDef="let payment"> {{ payment.bankAccount }} </mat-cell>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{ payment.amount }} </mat-cell>
        </ng-container>

        <!-- Student Column -->
        <ng-container matColumnDef="studentName">
            <mat-header-cell *matHeaderCellDef> Student </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{ payment.student }} </mat-cell>
        </ng-container>

        <!-- Archived Column -->
        <ng-container matColumnDef="archived">
            <mat-header-cell *matHeaderCellDef> Archived </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{ payment.archived }} </mat-cell>
          </ng-container>

        <!-- Date Time Column -->
        <ng-container matColumnDef="dateTime">
            <mat-header-cell *matHeaderCellDef> Date-Time </mat-header-cell>
            <mat-cell *matCellDef="let payment"> {{ payment.dateTime }} </mat-cell>
          </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let payment">
            <button mat-icon-button color="primary" (click)="editPayment(payment.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deletePayment(payment.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <!-- Header Row -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- Data Rows -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>