<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>view_list</mat-icon>
      <span class="header-title"> Subjects list</span>
    </mat-toolbar>
  </div>

<div class="subject-list-container">
    <mat-card>
        <!-- <div class="button-container">
            <button routerLink="/subject/create" mat-raised-button color="primary">Add New Subject</button>
        </div> -->
      <mat-card-title>My Subjects</mat-card-title>
      <mat-divider></mat-divider>
      
      <mat-table [dataSource]="subjects" class="mat-elevation-z8">
        <!-- ID Column -->
        <!-- <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="id-column"> ID </mat-header-cell>
          <mat-cell *matCellDef="let subject" class="id-column"> {{ subject.id }} </mat-cell>
        </ng-container> -->
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let subject"> {{ subject.name }} </mat-cell>
        </ng-container>

        <!-- ECTS Column -->
        <ng-container matColumnDef="ects">
            <mat-header-cell *matHeaderCellDef> Ects </mat-header-cell>
            <mat-cell *matCellDef="let subject"> {{ subject.ects }} </mat-cell>
        </ng-container>

        <!-- Archived Column -->
        <!-- <ng-container matColumnDef="archived">
            <mat-header-cell *matHeaderCellDef> Archived </mat-header-cell>
            <mat-cell *matCellDef="let subject"> {{ subject.archived }} </mat-cell>
          </ng-container> -->
  
        <!-- Actions Column -->
        <!-- <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let subject">
            <button mat-icon-button color="primary" (click)="editSubject(subject.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteSubject(subject.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container> -->
  
        <!-- Header Row -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- Data Rows -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>