.administrator-login-title {
    font-size: 1.8rem; /* Increase the size */
    font-weight: 600;  /* Bold the text */
    color: #4880bb;    /* Add a color that matches the theme */
    margin-bottom: 20px; /* Add spacing below */
    margin: 20px 0 40px 0; /* Add 20px margin on top and bottom */
  }