
<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>add</mat-icon>
      <span class="header-title">Apply</span>
    </mat-toolbar>
  </div>

<form [formGroup]="applyForm" (ngSubmit)="onSubmit()" class="apply-form">


  <span class="warning-label">
    Each exam application costs 200
  </span>

    <label >Current account balance: {{ currentBalance }}</label>

    <!-- Subject Dropdown -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Exam</mat-label>
        <mat-select formControlName="examName">
        <mat-option *ngFor="let exam of exams" [value]="exam.id">
            {{ exam.name }}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Submit Button -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>