
<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>add</mat-icon>
      <span class="header-title">Assign teacher to subject</span>
    </mat-toolbar>
  </div>

<form [formGroup]="linkForm" (ngSubmit)="onSubmit()" class="link-form">
  
    <!-- Subject Dropdown -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Subject</mat-label>
        <mat-select formControlName="subject">
        <mat-option *ngFor="let subject of subjects" [value]="subject.id">
            {{ subject.name }}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Teacher Dropdown -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Teacher</mat-label>
        <mat-select formControlName="teacher">
        <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
            {{ teacher.name + " " + teacher.lastname }}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- Submit Button -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>