<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>dehaze</mat-icon>
      <span class="header-title">Subject details</span>
    </mat-toolbar>
  </div>

<div class="subject-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dummy subject</mat-card-title>
        <mat-card-subtitle>dummy description</mat-card-subtitle>
      </mat-card-header>

      <mat-divider class="spaced-divider"></mat-divider>

      <mat-card-content>
        <p><strong>Subject name:</strong> Dummy subject</p>
        <p><strong>Subject description:</strong> dummy description </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>