
<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>add</mat-icon>
      <span class="header-title">Create subject</span>
    </mat-toolbar>
  </div>

<form [formGroup]="subjectForm" class="subject-form" (ngSubmit)="onSubmit()">
    <!--  Name -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Subject Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="subjectName"
        placeholder="Enter subject name"
      />
    </mat-form-field>

    <!--  ECTS -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Subject ECTS</mat-label>
        <input
            matInput
            type="number"
            formControlName="subjectEcts"
            placeholder="Enter ECTS of subject"
        />
        </mat-form-field>
  
    <!-- Submit Button -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>