.student-details {
    max-width: 600px;
    margin: 20px auto;
  }
  
  .student-avatar {
    background-image: url('/assets/images/images.png');
    background-size: cover;
  }
  
  mat-card {
    margin-bottom: 20px;
  }

  mat-icon {
    margin-right: 10px; /* Adjust the value to control the spacing */
  }

  .spaced-divider {
    margin-bottom: 20px; /* Space between line and content */
  }