<div class="header">
  <mat-toolbar color="primary">
    <mat-icon>view_list</mat-icon>
    <span class="header-title"> My Documents </span>
  </mat-toolbar>
</div>

<div class="documents-list-container">
  <mat-card>
    <mat-card-title>My Documents</mat-card-title>
    <mat-divider></mat-divider>
    
    <mat-table [dataSource]="documents" class="mat-elevation-z8">
      <!-- ID Column -->
      <!-- <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef class="id-column"> ID </mat-header-cell>
        <mat-cell *matCellDef="let document" class="id-column"> {{ document.id }} </mat-cell>
      </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{ document.name }} </mat-cell>
      </ng-container>

      <!-- Path Column -->
      <!-- <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef> Student </mat-header-cell>
        <mat-cell *matCellDef="let document"> {{ document.student }} </mat-cell>
      </ng-container> -->

      <!-- Student Column -->
      <ng-container matColumnDef="student">
          <mat-header-cell *matHeaderCellDef> Student </mat-header-cell>
          <mat-cell *matCellDef="let document"> {{ document.student }} </mat-cell>
      </ng-container>

      <!-- Archived Column -->
      <!-- <ng-container matColumnDef="archived">
          <mat-header-cell *matHeaderCellDef> Archived </mat-header-cell>
          <mat-cell *matCellDef="let document"> {{ document.archived }} </mat-cell>
        </ng-container> -->

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let document">
          <button mat-icon-button color="primary" (click)="downloadDocument(document.content)">
            <mat-icon>download</mat-icon>
          </button>
          <!-- <button mat-icon-button color="warn" (click)="deleteSubject(document.id)">
            <mat-icon>delete</mat-icon>
          </button> -->
        </mat-cell>
      </ng-container>

      <!-- Header Row -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- Data Rows -->
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>