<div class="unauthorized-container">
    <div class="unauthorized-content">
      <h1>403 - Unauthorized</h1>
      <p>Sorry, you don't have permission to view this page.</p>
      <button (click)="goToHome()">Go to Home</button>
    </div>
  </div>
  