.unauthorized-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .unauthorized-content {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .unauthorized-content h1 {
    font-size: 2.5rem;
    color: #ff4d4f;
    margin-bottom: 20px;
  }
  
  .unauthorized-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .unauthorized-content button {
    background-color: #1890ff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .unauthorized-content button:hover {
    background-color: #40a9ff;
  }
  