<div class="app">
  <app-header (clicked)="handleBurgerButtonClick()" [pageTitle]="'Student Service Homepage'" [logoSrc]="'assets/images/logo.png'"></app-header>
  <div>
    <app-sidebar [action]="sidebarActionCount"> </app-sidebar>
  </div>
</div>