<mat-drawer-container autosize>
    <mat-drawer *ngIf="isAuthenticated" #drawer opened="false" mode="side" position="start">
        <mat-nav-list>
        <mat-list-item *ngIf="isAdministrator() || isTeacher()">
            <button routerLink="student/list" mat-button><mat-icon>list</mat-icon> Students </button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdministrator()">
            <button routerLink="administrator/list" mat-button><mat-icon>list</mat-icon> Administrators </button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdministrator() || isTeacher()">
            <button routerLink="teacher/list" mat-button><mat-icon>list</mat-icon> Teachers </button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="subject/list" mat-button><mat-icon>list</mat-icon> All Subjects</button>
        </mat-list-item>
        <mat-list-item *ngIf="isTeacher()">
            <button routerLink="subjectForTeacher/list" mat-button><mat-icon>list</mat-icon> My Subjects</button>
        </mat-list-item>
        <mat-list-item *ngIf="isStudent()">
            <button routerLink="subjectForStudent/list" mat-button><mat-icon>list</mat-icon> My Subjects</button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="exam/list" mat-button><mat-icon>list</mat-icon> All Exams</button>
        </mat-list-item>
        <mat-list-item *ngIf="isTeacher()">
            <button routerLink="examForTeacher/list" mat-button><mat-icon>list</mat-icon> My Exams</button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdministrator()">
            <button routerLink="payment/list" mat-button><mat-icon>list</mat-icon> All Payments</button>
        </mat-list-item>
        <mat-list-item *ngIf="isStudent()">
            <button routerLink="myPayment/list" mat-button><mat-icon>list</mat-icon> My Payments</button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdministrator()">
            <button routerLink="exam-application/list" mat-button><mat-icon>list</mat-icon> All Exam Applications </button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdministrator()">
            <button routerLink="assign/student-subject" mat-button><mat-icon>person_add</mat-icon> Assign student to subject </button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdministrator()">
            <button routerLink="assign/teacher-subject" mat-button><mat-icon>person_add</mat-icon> Assign teacher to subject </button>
        </mat-list-item>
        <mat-list-item *ngIf="isStudent()">
            <button routerLink="exam-applications-student/list" mat-button><mat-icon>list</mat-icon> My Exam Applications </button>
        </mat-list-item>
        <mat-list-item *ngIf="isTeacher()">
            <button routerLink="exam-applications-teacher/list" mat-button><mat-icon>list</mat-icon> Applications for my Exams </button>
        </mat-list-item>
        <mat-list-item *ngIf="isStudent()">
            <button routerLink="exam-application/create" mat-button><mat-icon>assignment_turned_in</mat-icon> Apply for exam</button>
        </mat-list-item>
        <mat-list-item *ngIf="isStudent()">
            <button routerLink="documents/upload" mat-button><mat-icon>upload_file</mat-icon> Upload document</button>
        </mat-list-item>
        <mat-list-item *ngIf="isAdministrator()">
            <button routerLink="documents/list" mat-button><mat-icon>list</mat-icon> All Documents </button>
        </mat-list-item>
        <mat-list-item *ngIf="isStudent()">
            <button routerLink="myDocuments/list" mat-button><mat-icon>list</mat-icon> My Documents </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>settings</mat-icon> Settings</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>help</mat-icon> Help</button>
        </mat-list-item>
        <mat-list-item>
            <button mat-button><mat-icon>analytics</mat-icon> analytics</button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center;min-height: 100vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>