.administrator-list-container {
    max-width: 1200px;
    margin: 20px auto;
  }

  .mat-column-id {
    flex: 0.1 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
  }

  .mat-column-username {
    flex: 2 !important;
    overflow: hidden !important; /* Prevent overflow */
    text-overflow: ellipsis !important; /* Add ellipsis for overflowed content */
    white-space: nowrap !important; /* Prevent wrapping */
  }
  
  mat-card {
    padding: 20px;
  }
  
  mat-card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .mat-table {
    width: 100%;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  button.mat-icon-button {
    margin-right: 8px;
  }

  mat-icon {
    margin-right: 10px; /* Adjust the value to control the spacing */
  }

  .button-container {
    display: flex;
    justify-content: flex-start;
  }