<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>view_list</mat-icon>
      <span class="header-title"> Administrators list</span>
    </mat-toolbar>
  </div>

<div class="administrator-list-container">
    <mat-card>
        <div class="button-container">
            <button routerLink="/administrator/create" mat-raised-button color="primary">Add New Administrator</button>
        </div>
      <mat-card-title>Administrators List</mat-card-title>
      <mat-divider></mat-divider>
      
      <mat-table [dataSource]="administrators" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="id-column"> ID </mat-header-cell>
          <mat-cell *matCellDef="let administrator" class="id-column"> {{ administrator.id }} </mat-cell>
        </ng-container>
  
        <!-- Username(email) Column -->
        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef> Username/email </mat-header-cell>
            <mat-cell *matCellDef="let administrator"> {{ administrator.username }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let administrator"> {{ administrator.name }} </mat-cell>
        </ng-container>

        <!-- Lastname Column -->
        <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef> Lastame </mat-header-cell>
            <mat-cell *matCellDef="let administrator"> {{ administrator.lastname }} </mat-cell>
        </ng-container>

        <!-- Archived Column -->
        <ng-container matColumnDef="archived">
            <mat-header-cell *matHeaderCellDef> Archived </mat-header-cell>
            <mat-cell *matCellDef="let administrator"> {{ administrator.archived }} </mat-cell>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell *matCellDef="let administrator">
            <button mat-icon-button color="primary" (click)="editAdministrator(administrator.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteAdministrator(administrator.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
  
        <!-- Header Row -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- Data Rows -->
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card>
  </div>