<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>edit</mat-icon>
      <span class="header-title"> Edit Student</span>
    </mat-toolbar>
</div>

<div class="edit-student-container">
    <mat-card>
      <mat-card-title>Edit Student</mat-card-title>
      <mat-divider></mat-divider>
  
      <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput formControlName="name" placeholder="Enter first name">
            </mat-form-field>
        </div>
  
        <div class="form-field">
            <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastname" placeholder="Enter last name">
            </mat-form-field>
        </div>
    
        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>Email/Username</mat-label>
              <input matInput formControlName="username" placeholder="Enter new email">
            </mat-form-field>
        </div>
  
        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Enter new address">
            </mat-form-field>
        </div>

        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>Phone number</mat-label>
              <input matInput formControlName="mobilePhone" placeholder="Enter new phone number">
            </mat-form-field>
        </div>
  
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="studentForm.invalid">Save</button>
          <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </mat-card>
  </div>