.edit-administrator-container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  mat-card {
    padding: 20px;
  }
  
  mat-card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

mat-icon {
    margin-right: 10px; /* Adjust the value to control the spacing */
  }