
<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>add</mat-icon>
      <span class="header-title">Create payment</span>
    </mat-toolbar>
  </div>

<form [formGroup]="paymentForm" class="payment-form" (ngSubmit)="onSubmit()">
    <!--  Bank Account -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label> Bank Account </mat-label>
      <input
        matInput
        type="text"
        formControlName="bankAccount"
        placeholder="Enter bank account number"
      />
    </mat-form-field>

    <!--  Amount -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label> Amount </mat-label>
        <input
            matInput
            type="number"
            formControlName="amount"
            placeholder="Enter amount"
        />
    </mat-form-field>

    <!-- Student Dropdown -->
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Select Student</mat-label>
        <mat-select formControlName="student">
        <mat-option *ngFor="let student of students" [value]="student.id">
            {{ student.name +" "+ student.lastname }}
        </mat-option>
        </mat-select>
    </mat-form-field>
  
    <!-- Submit Button -->
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
  </form>