/* Remove background colors and apply default styling */
.login-btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Add bottom border when button is active */
  .active-btn {
    border-bottom: 2px solid #007bff; /* Adjust color as per your design */
  }
  
  /* Add hover effect for better UX */
  .login-btn:hover {
    border-bottom: 2px solid lightgray;
  }
  
  .row.justify-content-center {
    margin-top: 40px;
  }