<div class="row justify-content-center">
    <div class="col-4 text-center">

      <button class="btn login-btn mb-2" 
              [ngClass]="{'active-btn': selectedLogin === 'student'}" 
              (click)="selectLogin('student')">
        Student Login
      </button>

      <button class="btn login-btn mb-2" 
              [ngClass]="{'active-btn': selectedLogin === 'teacher'}" 
              (click)="selectLogin('teacher')">
        Teacher Login
      </button>

      <button class="btn login-btn mb-2" 
      [ngClass]="{'active-btn': selectedLogin === 'administrator'}" 
      (click)="selectLogin('administrator')">
        Administrator Login
      </button>
      
    </div>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="col-6">
        <!-- <app-student-login></app-student-login> -->
      <app-student-login-form *ngIf="selectedLogin === 'student'" (onSubmitLoginEvent)="onLoginEvent($event)"></app-student-login-form>
      <app-administrator-login-form *ngIf="selectedLogin === 'administrator'" (onSubmitLoginEvent)="onLoginEvent($event)"></app-administrator-login-form>
      <app-teacher-login-form *ngIf="selectedLogin === 'teacher'" (onSubmitLoginEvent)="onLoginEvent($event)"></app-teacher-login-form>
    </div>
  </div>
  