.logo-container .app-logo {
    width: 200px; /* Adjust to your desired width */
    height: auto; /* Maintains aspect ratio */
}

#pdfContainer {
  padding: 30px; 
  /* margin: 10px;  */
  border: 1px solid rgb(97, 97, 97);
}

.logo-container {
  margin-left: auto;
}

.logo-and-metainfo-container {
  display: flex;
}

.metainfo-container {
  text-align: left;
  font-size: 18px;
}


table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* Light gray color for odd rows */
}

table tbody tr:nth-child(even) {
  background-color: #d8eaff; /* White color for even rows */
}
table{
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: flex-start; /* Moves the button to the left */
  margin-bottom: 20px;
  margin-top: 20px;
}

.general-container {
  padding: 10px;
}
