<div class="general-container">

  <div class="btn-container">
    <button mat-raised-button color="primary" (click)="downloadPdf()">Download PDF</button>
  </div>

  <div id="pdfContent">
    <div id="pdfContainer">
      <div class="logo-and-metainfo-container">

        <div class="logo-container">
          <img src="assets/images/logo.png" class="app-logo" alt="logo"/>
        </div>

      </div>

      <h1><b>Report for exam {{examName}}</b></h1>

      <div class="metainfo-container">
        <p><b>Exam date:</b> {{examDate}}</p>
        <p><b>Professor:</b> {{examTeacher}}</p>
        <p><b>Subject:</b> {{examSubject}}</p>
        <p><b>Average grade:</b> {{avgGrade}}</p>
      </div>

      <br>

      <table border="1" style="width: 100%; border-collapse: collapse; text-align: left;">
        <thead>
          <tr>
            <th>Application ID</th>
            <th>Student</th>
            <th>Application date</th>
            <th>Passed</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let application of applications">
            <td>{{ application.id }}</td>
            <td>{{ application.student }}</td>
            <td>{{ application.applicationDate }}</td>
            <td>{{ application.passed }}</td>
            <td>{{ application.grade }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>