<div class="header">
    <mat-toolbar color="primary">
      <mat-icon>school icon</mat-icon>
      <span class="header-title">Administrator details</span>
    </mat-toolbar>
  </div>

<div class="administrator-details">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="administrator-avatar"></div>
        <mat-card-title>Pera Peric</mat-card-title>
        <mat-card-subtitle>peraperic&#64;gmail.com</mat-card-subtitle>
      </mat-card-header>

      <mat-divider class="spaced-divider"></mat-divider>
      <mat-card-content>

        <p><strong>Date of Birth:</strong> 08.08.1985</p>
        <p><strong>Email:</strong> peraperic&#64;gmail.com </p>
        <!-- Add other student details here -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>