<!-- <div class="header"></div>
    <mat-toolbar color="primary">
      <mat-icon>edit</mat-icon>
      <span class="header-title"> Edit Payment</span>
    </mat-toolbar>
</div>

<div class="edit-payment-container">
    <mat-card>
      <mat-card-title>Edit Payment</mat-card-title>
      <mat-divider></mat-divider>
  
      <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">

        <div class="form-field">
            <mat-form-field appearance="fill">
              <mat-label>Amount</mat-label>
              <input matInput formControlName="name" placeholder="Enter new amount">
            </mat-form-field>
        </div>
  
        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="examForm.invalid">Save</button>
          <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </mat-card>
  </div> -->